[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
HanTa = "~=0.2"
nltk = "~=3.6"
pandas = "~=1.3"
requests = "~=2.27"
seaborn = "~=0.11"
stylecloud = "~=0.5"

# Versions don't matter for these libraries
session_info = "*"

[dev-packages]
black = "*"
isort = "*"
nbqa = "*"
nbval = "*"
pytest = "*"
